:root {
  --color-white: #fff;
  --color-blue-300: rgb(0, 101, 179);
  --color-blue-dark: rgb(0, 51, 117);
  --color-yellow: rgb(255, 221, 36);
  --color-dark: #000;
  --light-color: #e8e8f2; /* Light Background */
  --dark-blue: #3b3b97;

}

.footer-text {
  margin-right: 200px;

}


.footer {
  display: flex;
  justify-content: center; /* Centers the content horizontally */
  align-items: center; /* Centers the content vertically */
  background-color: var(--light-color);
  border-top: 5px solid var(--dark-blue);
  padding-top: 2px;
  padding-left: 6rem;
  padding-right: 100px;
  min-height: 5px;
}
