:root {
  --color-white: #fff;
  --color-blue-300: rgb(0, 101, 179);
  --color-blue-dark: rgb(0, 51, 117);
  --color-yellow: rgb(255, 221, 36);
  --color-dark: #000;
  --light-color: #e8e8f2; /* Light Background */
  --dark-blue: #3b3b97;
}

* {
  margin: 0;
  box-sizing: border-box; /* Ensure consistent box model */
}

.header {
  width: 100vw; /* Full width of the viewport */
  margin-top: 0px;
}

.outer {
  width: 100vw; /* Full width of the page */
  height: 70px; /* Fixed height for the header */
  display: flex; /* Use flexbox for alignment */
  justify-content: space-between; /* Spread the content evenly */
  align-items: center; /* Vertically center content */
  background-color: var(--color-blue-dark);
  color: var(--color-white);
  padding: 0 10px; /* Add padding for spacing */
}

.items {
  display: flex;
  align-items: center;
}

.title {
  font-size: 1.8rem;
  margin-left: 500px;
}

.login-name {
  display: flex;
  align-items: center;
}

.login-name a {
  background-color: var(--color-yellow);
  color: var(--color-dark);
  margin-right: 10px;
  text-decoration: none;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
}

.line {
  background-color: var(--color-blue-300);
  height: 8px;

}

.gov-gr-logo {
  height: 58px;
  width: auto;
}
